@font-face {
  font-family: 'Arvo';
  font-display: auto;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

.responsive-button {
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 36px;
    padding: 10px;
    border-radius: 7px;
    background: #666;
    color: white;
    cursor: pointer;
    position: relative;
}
 
.button--line {
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top:5px;
    position: relative;
    top:-5px;
    left: -5px;
}
 
.responsive-menu {  
    cursor: pointer;
    display: none;
    margin: 0 0 10px 10px;
}

#menu-toggle {
    display: none; /* hide the checkbox */
}

#menu-toggle:checked + #menu {
    display: block;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.body {
    background-color: #E6E6E6;
    width: 100%;
    font-family: 'Arvo';
}

.button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Trebuchet MS;
    font-size: 17px;
    padding: 3px 10px;
    text-decoration: none;
    width: 90px;
}

.button:active {
    position: relative;
    top: 1px;
}

.container {
    margin: auto;
    width: 80%;
    background-color: #ACACAC;
    height: 100%;
}

.footer {
    background-color: #ACACAC;
    color: #097546;
    text-align: center;
}

.header {
    height: 120px;
    text-align: center;
    font-size: 90px;
    color: #097546;
}

.item {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0 1%;
    font-size: 20px;
}

.item--link {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    display: block;
}

.list {
    padding: 0;
}

.menu {
    background-color: #525050;
    height: 50px;
    text-align: center;
    padding:10px 0;
}

@media screen and (max-width: 800px) {
    .item {
        display: block;
        text-align: left;
        background-color: #525050;
        border-bottom: 2px solid white;
        padding-left: 3%;
    }

    .menu {
        display: none;
        background: white;
        position: relative;
        z-index: 99;
    }

    .responsive-menu {
        display: inline-block;
        cursor: pointer;
    }
}

@media screen and (max-width: 470px) {
    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header {
        font-size: 60px;
        height: 80px;
    }
}