<div class="col">
    <div class="category">
        <a class="category--title" class="category--title" href="#/options" ng-click="selectedCategory('airport')">
            <span>airport</span>
            <img class="category--img" src="icon/airport.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('bank')">
            <span>bank</span>
            <img class="category--img" src="icon/bank.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('bar')">
            <span>bar</span>
            <img class="category--img" src="icon/bar.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('book_store')">
            <span>book_store</span>
            <img class="category--img" src="icon/book_store.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('bus_station')">
            <span>bus_station</span>
            <img class="category--img" src="icon/bus_station.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('casino')">
            <span>casino</span>
            <img class="category--img" src="icon/casino.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('church')">
            <span>church</span>
            <img class="category--img" src="icon/church.jpg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('clothing_store')">
            <span>clothing_store</span>
            <img class="category--img" src="icon/clothing_store.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('gym')">
            <span>gym</span>
            <img class="category--img" src="icon/gym.jpg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('hospital')">
            <span>hospital</span>
            <img class="category--img" src="icon/hospital.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('museum')">
            <span>museum</span>
            <img class="category--img" src="icon/museum.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('park')">
            <span>park</span>
            <img class="category--img" src="icon/park.jpg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('pet_store')">
            <span>pet_store</span>
            <img class="category--img" src="icon/pet_store.jpg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('pharmacy')">
            <span>pharmacy</span>
            <img class="category--img" src="icon/pharmacy.svg">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('police')">
            <span>police</span>
            <img class="category--img" src="icon/police.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('restaurant')">
            <span>restaurant</span>
            <img class="category--img" src="icon/restaurant.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('school')">
            <span>school</span>
            <img class="category--img" src="icon/school.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('stadium')">
            <span>stadium</span>
            <img class="category--img" src="icon/stadium.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('university')">
            <span>university</span>
            <img class="category--img" src="icon/university.png">
        </a>
    </div>
    <div class="category">
        <a class="category--title" href="#/options" ng-click="selectedCategory('zoo')">
            <span>zoo</span>
            <img class="category--img" src="icon/zoo.jpg">
        </a>
    </div>
</div>