.box {
    list-style: circle;
    margin-top: 20px;
    text-align: center;
}

.box--button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #41DD03;
    border-radius: 8px;
    border: 1px solid;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Trebuchet MS;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 3px 10px;
    text-decoration: none;
    width: 90px;
}

.box--button:active {
    position: relative;
    top: 1px;
}

.box--button:hover {
    background-color: #269A02;
}

.box--title {
    display: block;
    font-size: 20px;
}

.option {
    display: inline-block;
    margin: 10px 2%;
}

.option--radio {
    margin-right: 3px;
}

.range {
    display: block;
}

.wrapper {
    background-color: white;
    padding-top: 20px;
}

@media screen and (max-width: 800px) {
    .box--sub-title {
        display: block;
    }
}